body {
  margin: 0;
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}


.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253A46;
  padding: 20px;
  font-size: 20px;
}

#menu a {
  color: white;
  padding-right: 50px;
}

.tasks_container {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.post_title {
  border-top: 1px solid black;
  cursor: pointer;
}

li {
  margin: 15px 0px 15px 0;
}