body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}


.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}